.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .side-toggle {
    box-sizing: border-box;
    position: fixed;
    width: 200px;
    height: calc(100% - 20px);
    background-color: #27292c;
    border-radius: 10px;
    padding: 25px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  
    .menu {
      padding-bottom: 10px;
      border-bottom: 1px solid #35383b;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
  
        a {
          color: #ddd;
          text-decoration: none;
  
          &:hover {
            li {
              position: relative;
              &:before {
                opacity: 1;
              }
            }
          }
  
          &.active {
            color: #1b73a8;
            li {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 4px;
                background-color: #1b73a8;
                border-radius: 10px;
              }
            }
          }
  
          li {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-bottom: 10px;
            &:before {
              opacity: 0;
              content: "";
              position: absolute;
              width: 90%;
              height: 100%;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              padding: 3px 0px;
              margin: auto;
              background-color: #313437;
              border-radius: 10px;
              z-index: 0;
              transition: all 0.25s ease-in-out;
            }
  
            i {
              position: relative;
              width: 25px;
              text-align: center;
              margin-right: 14px;
              z-index: 5;
            }
  
            h6 {
              position: relative;
              font-size: 16px;
              font-weight: 200;
              padding: 0;
              margin: 0;
              z-index: 5;
            }
          }
        }
      }
    }
  }
  
  .top-bar {
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 230px);
    margin-left: 210px;
    background-color: #27292c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      a {
        color: #ddd;
        text-decoration: none;
  
        li {
          i {
            position: relative;
            text-align: center;
            margin-right: 5px;
            z-index: 5;
          }
        }
      }
    }
  }

  body{
    background-image: url("https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    margin:0;
    font-family: 'Advent Pro', sans-serif;
}

/* Navbar */

.nav-wrapper {
  background-color: #1B4F72   !important;
  font-size: 14px;
font-weight: bold;
font-family: 'Advent Pro', sans-serif;

}

/* Forms */
.form-container {
  width: 600px;
  margin-left: auto;
margin-right: auto;
margin-top: 70px;
  /*margin-top:90px;
  margin-bottom: 30px;*/
  padding: 30px;
  background-color: #fff;
  position: relative;
      box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-container .row {
margin-bottom: 0;
/* margin-top: 30px; */
}

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #9c9c9c;
 }
 input:not([type]):focus:not([readonly]), 
 input[type=text]:focus:not([readonly]), 
 input[type=password]:focus:not([readonly]), 
 input[type=email]:focus:not([readonly]), 
 input[type=url]:focus:not([readonly]), 
 input[type=time]:focus:not([readonly]), 
 input[type=date]:focus:not([readonly]), 
 input[type=datetime]:focus:not([readonly]), 
 input[type=datetime-local]:focus:not([readonly]), 
 input[type=tel]:focus:not([readonly]), 
 input[type=number]:focus:not([readonly]), 
 input[type=search]:focus:not([readonly]), 
 textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #009ddc;
  box-shadow: 0 1px 0 0 #009ddc;
}
input:not([type]):focus:not([readonly])+label, 
input[type=text]:focus:not([readonly])+label, 
input[type=password]:focus:not([readonly])+label, 
input[type=email]:focus:not([readonly])+label, 
input[type=url]:focus:not([readonly])+label, 
input[type=time]:focus:not([readonly])+label, 
input[type=date]:focus:not([readonly])+label, 
input[type=datetime]:focus:not([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label, 
input[type=tel]:focus:not([readonly])+label, 
input[type=number]:focus:not([readonly])+label, 
input[type=search]:focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #009ddc;
}
.form-container .btn {
  background-color: #009ddc;
}
.submitbtn {
  line-height: 48px;
  display: block;
  height: 48px;
  width: 100%;
}
.form-container h3 {
  font-size: 42px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -46px;
}
@media  all and (max-width: 640px) {
  .form-container {
      position: static;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 100%;
      margin-top: 70px;
      margin-bottom: 20px;
  }
  .form-container h3 {
      font-size: 14px;
      top: -36px;
  }
}
#flat{
margin-top: 15px;
color: #000;
}

#property{
  margin-left: 250px;
}

.header{
  margin-left: 250px;
}

.meta{
  margin-left: 250px;
}

.description{
  margin-left: 250px;
}


body{
  background-image: url("https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  margin:0;
  /* color:#6a6f8c; */
  font-family: 'Advent Pro', sans-serif;
}

/*Search */

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}