 <p>Vacancies: $property.getVacancies()</p>
        <p>Location: $property.getPhone()<p>
        <p>Phone: $property.getLocation()<p>

        <div id="deletestylist">
<form action="/properties/$property.getId()/delete" method="post" class="ui form">
  <button type="submit" class="negative ui button" id="delete-stylist">Delete Property</button>
</form><br><br>