 <p>Vacancies: $property.getVacancies()</p>
        <p>Location: $property.getPhone()<p>
        <p>Phone: $property.getLocation()<p>

        <div id="deletestylist">
<form action="/properties/$property.getId()/delete" method="post" class="ui form">
  <button type="submit" class="negative ui button" id="delete-stylist">Delete Property</button>
 
</form><br><br>

 <a href="https://mailchi.mp/dfff7f843d31/booking-confirmation"><button class="btn btn-primary" >Book Now</a></button>
 